{% extends "index.html.twig" %}

{% block main_content %}
    <h1 class="text-5xl font-bold">Lien inexistant ou invalide.</h1>
    <a href=" {{path('index')}} " class="text-blue-400 underline">Retourner sur la page d'accueil</a>
{% endblock %}